// _vars.scss 

$font-family: Roboto,sans-serif;

$background-color: rgba(255,94,58,.95);
$white: #fff;
$orange: #ff5e3a;
$grey-light: #888da8; //form text
$grey-dark: #515365; //select 
$grey-hover: #edf2f6;//hover
$border-color: #e6ecf5; //border-mega-menu
$purple: #7c5ac2; //button
$fb-blue: #2f5b9d; //facebook button
$tw-blue: #38bff1; //twitter button



